.form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 1fr;
  row-gap: 5px;
  grid-template-areas:
    "L1 L2"
    "I I"
    "B B";
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #333;
  padding: 30px;
  text-align: center;
  background-color: #555;
}

.input__container {
  display: flex;
  border: 2px solid #333;
  max-height: 50px;
  max-width: inherit;
  border-radius: 8px;
  background-color: white;
  grid-area: I;
  align-self: start;
}
/* //////////////////// */
.form__input {
  border-radius: 8px 0px 0px 5px;
  border: 2px solid transparent;
  border-right: 1px double #ccc;
  padding-left: 10px;
  padding: 10px;
  outline: none;
  width: min-content;
}
.form__select {
  border-radius: 0px 8px 8px 0px;
  border: 2px solid transparent;
  border-left: 0px;
  margin-left: 12px;
  padding: 10px;
  outline: none;
  max-width: none;
  width: min-content;
}

.form__button {
  margin-top: 20px;
  height: 80px;
  width: 140px;
  border: 0px;
  font-weight: bold;
  border-radius: 8px;
  background-color: rgb(49 137 185);
  /* background-color: rgb(255, 139, 61); */
  grid-area: B;
  justify-self: center;
}
.form__label {
    align-self: flex-end;
  color: whitesmoke;
  font-weight: bold;
}

.form__label--value {
  grid-area: L1;
}

.form__label--currency {
  grid-area: L2;
}
