html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1000px;
  display: flex;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(252, 238, 221);
  background-position: top;
  background-size: cover;
  background-image: url("../public/BG.png");
}